@model IEnumerable<Products1.Domain.Ubication>

@{
    ViewBag.Title = "Index";
}

<h2>Ubications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    See <strong>http://www.latlong.net</strong> to find latitud and longitude for known addresses
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UbicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UbicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UbicationId })
        </td>
    </tr>
}

</table>
